# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_USER=ats_user
DB_PASSWORD=securepassword
DB_NAME=ats_db

# Queue Configuration
QUEUE_URL=redis://queue:6379

# Security
JWT_SECRET=super_secret_jwt_key
PORT=3000
